table {
  width: 90%;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

thead {
  background-color: darkblue;
  color: #fff;
  padding: 10px;
}
tr,
td,
thead,
tbody {
  border: 1px solid darkblue;
  padding: 10px;
  text-align: center;
}
